build*
dist*
venv*
*.idea
*.csv
*.xml
*.idea
*.pyc
*.egg-info
*.ipynb_checkpoints
*__pycache__
*.html
*.DS_Store
*.log
*.pdf
*.gz
*.toc
*.tmp
dev*

# Sphinx documentation builds
docs/_build/
docs/build/
docs/html/
docs/api/
docs/_autosummary/
.doctrees/
docs/.doctrees/
docs/doctrees/
*.doctree
docs/*stamp
*.mo
*.pot
